 
.contenedorInicio{
    background-image: linear-gradient(to bottom, rgba(255, 206, 50,1) 0%, rgba(249, 165, 25,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoDiv{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.maleta{
    margin: 0 auto;
}

.titulo{
    margin: 0 auto;
    margin-top: 3em;
}