body{
    /* background: linear-gradient(to bottom, rgba(255, 206, 50,1) 0%, rgba(249, 165, 25,1) 100%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    display: grid;
    margin-top: 10em;
}

.maleta{
    margin: 0 auto;
}

.titulo{
    margin: 0 auto;
    margin-top: 3em;
}